.modal {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}


.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  top: 28px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
}

.modal__input::placeholder {
  font-size: 16px;
}

.modal__close-btn-icon {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  opacity: 0.4;
  transition: opacity 0.4s ease;
}

.modal__close-btn:hover .modal__close-btn-icon {
  opacity: 0.6;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.4);
  padding: 16px 0 16px 12px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input_type_error{
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}


.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 0;
  border-radius: 8px;
  border: none;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}


.modal__submit-btn_disable{
  color: #FCF5E5;
  background-color: rgba(33, 33, 33, 0.8);
  cursor: default;
}

.modal__image-container{
  position: relative;
  display: inline-block;
}

.modal__image{
  max-height: 80vh;
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.preview-modal__close-btn {
  position: absolute;
  top: 0;
  right: -50px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.preview-modal__close-btn-icon {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.preview-modal__close-btn-icon:hover {
  opacity: 0.4;
}

.modal__caption {
  position: absolute;
  margin: 0;
  color: white;
  background-color: #212121;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 10px;
}


.modal__error{
  color: #FF0000B2;
  font-size: 16px;
  display: block;
  margin-top: 8px;
}

@media screen and (max-width: 865px) {
  .preview-modal__close-btn {
    top:-48px;
    right: 0;
  }
  }

@media screen and (max-width: 370px) {
  .modal__submit-btn {
    font-size: 16px;
    max-width: none;
  }

  .modal__title {
    font-size: 20px;
    padding: 10px 0 0;
  }


  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
}
