.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  max-width: 1280px;
}

.profile__add-btn {
  margin-left: auto;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}


.profile__avatar-btn{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: none;
  padding-bottom: 16px;
  visibility: hidden;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  cursor: pointer;
}

.profile__avatar-container{
  position: relative;
}

.profile__avatar-container:hover .profile__avatar-btn {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition-delay: 0s;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  color: white;
}

.profile__column{
  margin-left: 20px;
}

.profile__pencil-icon{
  margin-right: 8px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  color: rgba(33, 33, 33, 0.7);
  background-color: transparent;
  padding: 0;
  width: 108px;
  height: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile__edit-btn:hover {
  color: rgba(0, 0, 0);
}

.profile__edit-btn-icon {
  opacity: 0.7;
  transition: all 0.3s ease;
}

.profile__edit-btn:hover .profile__edit-btn-icon {
  opacity: 1;

}

.profile__add-btn {
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  min-width: 149px;
  padding: 18px 24px;
  margin-top: auto;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.profile__add-btn-icon {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }


  .profile__avatar-btn{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    height: auto;
    font-size: 0;
    padding: 5px;
    bottom: 17px;
    right: 4.6px;
  }

.profile__pencil-icon{
  margin-right: 0;
}

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
  }

  .profile__edit-btn {
    margin: 0 auto 20px;
  }

  .profile__add-btn {
    margin: 0 auto;
    width: 100%;
  }
}
